*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
 }
body {
    background-color: #090909;

    font-weight: lighter;
    padding: 50px;}

    #registrationForm {
        border: 2px dotted rgb(95, 53, 153);
        padding: 53px;
        background-color: rgb(68, 240, 108);

    }

    .heading {
        background: rgb(148, 175, 148);
        color: rgb(12, 10, 10);
        text-align: center;
        margin-bottom: 0px;
        font-family: fantasy;
        border-radius: 10px;
        border-color: rgb(8, 17, 17);
    }
